{% extends 'base.html' %} 

{% block content %} 
<div class="container mt-3">
    <div class="row">
        <!-- Left container -->
        <div class="col-3" style="padding-top: 10%">
            <img src="https://res.cloudinary.com/dkeozpkpv/image/upload/v1708723458/chiefs_ugmtys.png" alt="Left Image" class="img-fluid" style="width: 350px">
            <img src="https://res.cloudinary.com/dkeozpkpv/image/upload/v1708723456/49ers_zmseuz.png" alt="Left Image" class="img-fluid" style="width: 350px; margin-top: 35%">
        </div>

        <!-- Middle container -->
        <div class="col-6">
            <img src="https://res.cloudinary.com/dkeozpkpv/image/upload/v1708724599/NFL_prvqto.png" alt="Middle Image" class="img-fluid">
        </div>

        <!-- Right container -->
        <div class="col-3" style= "padding-top: 10%">
            <img src="https://res.cloudinary.com/dkeozpkpv/image/upload/v1708723455/saints_wx7t1n.png" alt="Right Image" class="img-fluid" style="width: 350px">
            <img src="https://res.cloudinary.com/dkeozpkpv/image/upload/v1708723455/ravens_es66tt.png" alt="Right Image" class="img-fluid" style="width: 350px; margin-top: 35%">
        </div>
    </div>
</div>
{% endblock %}