<form method="POST">
    {{ form.hidden_tag() }}
    {% if form_type == 'signup' %}
    <div class="form-group">
        <fieldset id="first_name-field">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control", placeholder="First Name") }}
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <div class="invalid-feedback" style="display:block;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset id="last_name-field">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control", placeholder="Last Name") }}
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <div class="invalid-feedback" style="display:block;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </fieldset>
    </div>
    {% endif %}
    <div class="form-group">
        <fieldset id="email-field">
            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='email@address.com') }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback" style="display:block;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset id="pass-field">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password here") }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback" style="display:block;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </fieldset>
    </div>
    <div class="form-group">
        {{ form.submit_button(class="btn btn-primary btn-block mt-2") }}
    </div>
</form>